<%- _css('css/main_banner.css') %>
<div class="card">
    <div id='banner' class="card-content"></div>
</div>
<%- _js('js/main_banner.js', true) %>
<% page.posts.each(function(post){ %>
    <%- partial('common/article', { post, index: true }) %>
<% }); %>
<% if (page.total > 1) { %>
    <%- partial('common/paginator') %>
<% } %>