family-sans ="SimHei", "Ubuntu", "Roboto", "Open Sans", "Microsoft YaHei", sans-serif
family-mono = "Source Code Pro", monospace, "Microsoft YaHei"
gap = 64px
screen-tablet = 769px
screen-desktop = 1088px
screen-widescreen = 1280px
screen-fullhd = 1472px

/* ---------------------------------
 *       Override CSS Framework background-color: rgba(230,230,230,0.4);
        background-color: rgba(250,249,222,0.9);
        background: linear-gradient(45deg,rgba(254,172,94,0.8),rgba(199,121,208,0.8),rgba(75,192,200,0.8))
        background-image: url('https://hexoblog-1257022783.cos.ap-chengdu.myqcloud.com/%E4%BA%91-%E6%B2%B9%E7%94%BB.jpg');
 * --------------------------------- */
html
    font-size: 12px
    cursor: url('./menghuan.ico')

body
    background-color: transparent;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
    font-family: Lato, sans-serif;
    ::selection
        background: yellow;
        color: black;

body, input, select, textarea
    font-family: Lato, sans-serif;

button
    font-family: Lato, sans-serif;
    background-color: #808080

a {
    color: #8C80CE
}

@media screen and (min-width: screen-widescreen)
    .is-1-column .container
    .is-2-column .container
        max-width: screen-desktop - 2 * gap
        width: screen-desktop - 2 * gap
@media screen and (min-width: screen-fullhd)
    .is-2-column .container
        max-width: screen-widescreen - 2 * gap
        width: screen-widescreen - 2 * gap
    .is-1-column .container
        max-width: screen-desktop - 2 * gap
        width: screen-desktop - 2 * gap

@media screen and (max-width: screen-tablet - 1)
    .section
        padding: 1.5rem 1rem

@media screen and (min-width: screen-tablet)
    .column-main,
    .column-left,
    .column-right,
    .column-right-shadow
        &.is-sticky
            align-self: flex-start
            position: -webkit-sticky
            position: sticky
            top: .75rem
    .column-right-shadow
        &.is-sticky
            top: 1.5rem

.tag
    &.is-grey
        background: #e8e8e8

.card
    background-color: rgba(255,255,255,0.6);
    border-radius: 12px
    border: 0px solid transparent;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    margin-top: 20px
    margin-bottom: 20px
    & + .column-right-shadow
        margin-top: 1.5rem
    &.card-transparent
        box-shadow: none
        background: transparent
    .card-image
        overflow: hidden
        border-top-left-radius: 4px
        border-top-right-radius: 4px
    .is-rounded
        background-color: #4CA266
    .is-rounded:hover
        background-color: #32A354
        
h1
    font-weight: bold
h1:hover
    color: #77C08E

.card:hover
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 10px rgba(50,163,84,0.2);

img.thumbnail
    object-fit: cover
    border-radius: 8px
    width: 100%
    height: 100%

.navbar-logo,
.footer-logo
    img
        max-height: 4rem

.navbar-main
    background: linear-gradient(to right,rgba(257,149,52,0.9),rgba(240,90,109,0.9),rgba(126,107,176,0.9),rgba(7,178,155,0.9),rgba(106,185,130,0.9))
    font-weight: bold
    font-family: Lato, sans-serif;
    font-size: 14px
    a
        width: auto;
        height: 60px;
    a:hover
        height: 30px;
        border-radius: 3px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 6px;
        padding-right: 6px;
        margin-top: auto;
        margin-bottom: auto;
        background-color: white;
        color: #77C08F
    a:active
        color: yellow
    a:focus
        color: orange
    .navbar-menu,
    .navbar-start,
    .navbar-end
        align-items: stretch
        display: flex
        padding: 0
    .navbar-menu
        flex-grow: 1
        flex-shrink: 0
        overflow-x: auto
    .navbar-start
        justify-content: flex-start
        margin-right: auto
    .navbar-end
        justify-content: flex-end
        margin-left: auto
    .navbar-item
        display: flex
        align-items: center
        padding: 1.25rem 0.75rem
        &.is-active
            color: #b5b5b5
            background-color: transparent
    @media screen and (max-width: screen-desktop - 1)
        .navbar-menu
            justify-content: center
            box-shadow: none
        .navbar-start
            margin: 0
        .navbar-end
            margin-left: 0

.navbar-main:hover
    box-shadow: 0 0 10px rgba(50,163,84,0.7);

.footer
    background: linear-gradient(to right,rgba(257,149,52,0.9),rgba(240,90,109,0.9),rgba(126,107,176,0.9),rgba(7,178,155,0.9),rgba(106,185,130,0.9))
    font-family: Lato, sans-serif
    margin: 0
    .field
        .button
            background: transparent
.footer:hover
    box-shadow: 0 0 10px rgba(50,163,84,0.7);
.widget
    .media
        border: none
    .media + .media
        margin-top: 0
    .menu-list li ul
        margin-right: 0
    .menu-list a.level
        display: flex

.pagination
    .pagination-link:not(.is-current), .pagination-previous, .pagination-next
        background-color: #ffffff
        border: none
    .pagination-link, .pagination-previous, .pagination-next
        box-shadow: 0 4px 10px rgba(0, 169, 157, 0.05)
        .is-current {
            background-color: #aaaaaa;
            border-color: #dbdbdb;
            color: #fff;
        }


.post-navigation
    justify-content: space-around
    .level-item
        margin-bottom: 0
        color: #808080

.timeline
    margin-left: 1rem
    padding-left: 1.5rem
    padding-top: 1rem
    border-left: 1px solid hsl(0, 0%, 86%)
    .media
        position: relative
        &:before,
        &:last-child:after
            content: ''
            display: block
            position: absolute
            left: calc(-5px - 1.5rem)
        &:before
            width: 9px
            height: 9px
            top: 1.3rem
            background: #808080
            border-radius: 50%
        &:first-child:before
            top: 0.3rem
        &:last-child:after
            top: calc(1.3rem + 9px)
            width: 0px
            bottom: 0
            background: #808080
        &:first-child:last-child:after
            top: calc(0.3rem + 9px)

.article
    .article-meta
        margin-bottom: 0.5rem !important
    .content
        font-size: 1.1rem
        blockquote.pullquote
            float: right
            max-width: 80%
            font-size: 1.15rem
            position: relative

    .post-copyright {
        margin: 2em 0 0;
        padding: 0.5em 1em;
        border-left: 3px solid #808080;
        background-color: #ff935700;
        list-style: none;
    }
    a
        img
            margin: auto;
            display: block;

.rtl
     direction: rtl
     .level
        &, &.is-mobile
            .level-item:not(:last-child)
                margin-left: 0.75rem
                margin-right: 0

.donate
    position: relative
    .qrcode
        display: none
        position: absolute
        z-index: 99
        bottom: 2.5em
        line-height: 0
        overflow: hidden
        border-radius: 4px
        box-shadow: 0 4px 10px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.2)
        overflow: hidden
        img
            max-width: 280px
    &:hover
        .qrcode
            display: block
    &:first-child:not(:last-child)
        .qrcode
            left: -0.75rem
    &:last-child:not(:first-child)
        .qrcode
            right: -0.75rem

@media screen and (max-width: screen-tablet - 1)
    #toc
        display: none
        position: fixed
        margin: 1rem
        left: 0
        right: 0
        bottom: 0
        z-index: 100
        max-height: calc(100vh - 2rem)
        overflow-y: auto
    #toc-mask
        display: none
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 99
        background: #808080
    #toc,
    #toc-mask
        &.is-active
            display: block


/* ---------------------------------
 *         Custom modifiers
 * --------------------------------- */
.is-borderless
    border: none

.is-size-7
    font-size: 0.85rem !important

.is-7by1
    padding-top: 42.8%
    img
        bottom: 0
        left: 0
        position: absolute
        right: 0
        top: 0

.is-overflow-x-auto
    overflow-x: auto !important

.is-flex-grow
    flex-grow: 1 !important

.is-flex-wrap
    flex-wrap: wrap !important

.is-flex-start
    justify-content: start !important

.is-flex-center
    justify-content: center !important

.is-flex-middle
    align-items: center !important

.has-order-1
    order: 1

.has-order-2
    order: 2

.has-order-3
    order: 3

.has-mr-6
    margin-right: 0.5em !important

.has-mb-6
    margin-bottom: 0.5em !important

.has-mr-7
    margin-right: 0.25em !important

.has-link-grey,
.has-link-black-ter
    transition: 0.2s ease
    &:hover
        color: #808080 !important

.has-link-grey
    color: #b5b5b5 !important

.has-link-black-ter
    color: #363636 !important

@media screen and (max-width: screen-tablet - 1)
    .has-text-centered-mobile
        text-align: center !important
    .is-flex-center-mobile
        justify-content: center !important
    .has-mt-5-mobile
        margin-top: 1em !important

/* ---------------------------------
 *         Font icon fixes
 * --------------------------------- */
.fa, .fab, .fal, .far, .fas
    line-height: inherit
    background: transparent

/* ---------------------------------
 *        Fix content elements
 * --------------------------------- */
.content
    h1, h2, h3, h4, h5, h6
        font-weight: 500
        font-family: Lato, sans-serif
    h1
        font-size: 1.75em
        color: black
        font-weight: 900
    h1:hover
        color: #77c08f
    h2
        font-size: 1.5em
    h3
        font-size: 1.25em
    h4
        font-size: 1.125em
    h5
        font-size: 1em
    code, pre
        font-size: 0.85em
        font-family: family-mono
    code
        color: hsl(348, 100%, 61%)
        background: transparent
        padding: 0
    blockquote
        footer
            strong + cite
                margin-left: 0.5em

/* ---------------------------------
 *        Fix code highlight
 * --------------------------------- */
figure.highlight
    padding: 0
    width: 100%
    position: relative
    margin: 1em 0 1em !important

    pre,
    table tr:hover
        color: inherit
        background: transparent

    table
        width: auto

    pre
        padding: 0
        overflow: visible

        .line
            line-height: 1.5rem

    figcaption,
    .gutter
        background: #808080

    figcaption
        padding: .3em .75em
        text-align: left
        font-style: normal
        font-size: .8em

        span
            font-weight: 500
            font-family: family-mono

        a
            float: right
            color: #808080

    .gutter
        text-align: right

    .tag,
    .title,
    .number,
    .section
        display: inherit
        font: inherit
        margin: inherit
        padding: inherit
        background: inherit
        height: inherit
        text-align: inherit
        vertical-align: inherit
        min-width: inherit
        border-radius: inherit
        color: #808080

    .copy
        display: none
        position: absolute
        bottom: 0
        right: 0
        color: white
        background: rgba(0, 0, 0, 0.5)
    &:hover .copy
        display: block

/* ---------------------------------
 *        Fix Gist Snippet
 * --------------------------------- */
.gist
    table
        tr:hover
            background: transparent
        td
            border: none
    .file
        all: initial

/* ---------------------------------
 *        鼠标点击烟花效果
 * --------------------------------- */
.fireworks
    position: fixed
    z-index: -1
    pointer-events: none



// night Mode
// author by removef
// https://removeif.github.io/
night-color = #151313
night-color-hover = #7a7a7a
night-link = #77C08F

.night {
    
    color: silver!important;
    background-color black;
    .aplayer .aplayer-miniswitcher {
        background:#c0c0c0 !important;
    }
    .navbar-highlight{
        background-color night-color !important;
    }
    .content blockquote {
        background-color: night-color
    }
    .button.is-light {
        background-color: night-color;
    }
    .tag:not(body) {
        background-color: night-color;
    }

    strong {
        color: white;
    }

    .time-axis-achievement {
        background-color: night-color;
        color: white
    }

    .time-axis-title {
        background-color: night-color;
        color: white
    }

    .pagination .pagination-link:not(.is-current), .pagination .pagination-previous, .pagination .pagination-next {
        background-color: night-color;
    }

    .button.is-white {
        color: white;
    }

    .button.is-light {
        color silver
    }

    a:hover {
        //background-color night-color-hover
        color white
    }

    hr {
        background-color: night-color;
    }

    .menu-list a:hover {
        background-color: night-color-hover;
        color night-link
    }
    .menu-list a {
        color silver
    }

    .level a:hover {
        //background-color: night-color-hover;
        color night-link !important
    }

    .level .is-rounded:hover {
        color white !important
    }

    .level .level-item.is-marginless:hover {
        background-color: night-color;
        color night-link
    }

    .level .level-item.is-link:hover {
        color white
    }

    //.level .level-item .is-size-7:hover {
    //  background-color: black;
    //  color white
    //}

    .navbar-menu a:hover {
        color: night-link
    }

    .post-copyright {
        background-color: night-color;
    }

    #back-to-top:hover {
        color night-link
    }

    .tags.has-addons .tag:hover {
        color night-link
    }

    input {
        background-color black
        color white
    }

    .card {
        color silver
    }

    .has-text-grey {
        color silver !important
    }
    .has-link-black-ter {
        color night-link !important
    }
    .has-link-grey.-link {
        color silver
    }
    .has-link-grey, .has-link-black-ter {
        color silver !important;
    }

    .menu-label {
        color silver !important;
    }

    .tag:not(body) {
        color silver
    }

    #body_hot_comment .comment-content .item {
        color silver
    }

    .has-text-black-ter {
        color silver !important;
    }

    .has-text-black-ter:hover {
        color night-link !important
    }

    .navbar-item, .navbar-link {
        color silver
    }

    .title {
        color silver
    }

    .level-item.tag.is-danger {
        background-color night-link !important
        color silver
    }

    .friend-title-item {
        color silver
    }

    .music-container #musiclist {
        background night-color
    }

    .meplayer-container {
        background-color night-color
    }

    // --removeif
    .navbar {
        background-color night-color
    }
    .card {
        background-color night-color
        box-shadow: none;
    }
    .footer {
        background-color night-color
    }
    .button.is-white {
        background-color night-color
    }
    .cardm {
        background-color night-color
    }
    .waifu-tips {
        background-color night-color
        color silver
    }
    // --

    .has-link-grey.-link:hover {
        color night-link !important
    }
    .has-link-black-ter:hover {
        color night-link !important
    }

    .timeline .media:last-child:after {
        background-color night-color
    }

    .level-item.tag.is-danger,
    .button:not(.is-white), #index_hot_div,
    #post-calendar canvas,
    .waifu canvas,
    .is-current,
    .button.is-marginless .fab, .fas,
    .button.is-large,
    .gt-btn,
    .gt-comment-body pre,
    .time-axis-main,
    .meplayer-control-play,
    .social-share,
    .g-emoji,
    .fa-envelope
    input,
    img {
        filter: brightness(.6) !important
    }

    figure {
        filter: brightness(.7) !important
    }

    strong {
        filter: brightness(.8) !important;
    }

    .content blockquote {
        border-left: 3px solid #77C08F;
    }

    .timeline {
        border-left: 1px solid #dbdbdb70;
        .media:before {
            background: #dbdbdb70;
        }
    }

    .post-copyright {
        border-left: 3px solid #77C08F;
    }

    .button.is-light {
        filter: brightness(1) !important;
    }

    .breadcrumb li.is-active a {
        color silver
    }

    .menu-list li ul {
        border-left: 1px solid #dbdbdb70;
    }

    // comment start

    .markdown-body blockquote {
        border-left: 0.25em solid #dfe2e590;
    }

    .gt-container .gt-comment-content {
        background-color black !important
        color silver !important
    }

    .gt-container .gt-comment-body {
        color silver !important
    }

    .gt-container .gt-comment-content:hover {
        -webkit-box-shadow: 0 0.625em 3.75em 0 #f4f4f4;
        box-shadow: 0 0.625em 3.75em 0 black;
    }

    textarea {
        background-color night-color;
        color white;
    }

    .gt-container .gt-header-textarea:hover {
        background-color: black;
    }

    .gt-container .gt-header-textarea {
        background-color: black;
    }
    .ins-section-container {
        background-color: night-color;
        color: silver;
    }
    .searchbox .searchbox-input-wrapper .searchbox-input {
        background-color: night-color;
    }
    .cardm {
        color: unset;
    }
    .g-ads-x {
        filter: brightness(0.6) !important;
    }
    .g-ads-y {
        filter: brightness(0.6) !important;
    }
    .google-auto-placed {
        filter: brightness(0.6) !important;
    }

    .pagination-previous, .pagination-next, .pagination-link {
        color: silver;
    }
    .pagination .pagination-link a, .pagination .pagination-ellipsis a, .pagination .pagination-previous a, .pagination .pagination-next a {
        color: silver;
    }

    .content .gt-container .gt-comment-header {
        background-color: #151313;
    }
    .content .gt-container .gt-comment-admin .gt-comment-content {
        border: 2px solid #151313;
    }

    #post-calendar {
        background-color:#626161;
        //border-radius: 20rem;
    }
    .button.is-white, .button.is-transparent {
        color: silver;
    }

    hr {
        background-color: #989898;
    }

    .navbar-menu {
        background-color: unset;
    }
    #index_hot_div{
        color: silver;
    }
    #index_hot_div{
        filter: unset !important;
        .item{
            filter: brightness(0.6) !important;
        }
    }
    .gt-container .gt-meta {
        border-bottom: 2px solid #989898;
    }

    figure.highlight figcaption * {
        color: unset;
    }

    figure.highlight figcaption.level .level-right a {
        color: silver;
    }

    .menu-list .is-current {
        color: #3273dc;
        background: #7a7a7a;
        filter: unset !important;
    }

    .friend-card-item {
        color: unset;
    }
}